celery==3.1.18
configparser==3.5.0
django==1.10
django-filter
django-haystack==2.6.0
djangorestframework
django-widget-tweaks
elasticsearch==5.2.0
gensim==1.0.0
fuzzywuzzy==0.15.0
h5py
keras
Markdown==2.6.8
nltk==3.2.2
pillow==4.0.0
psycopg2==2.6.2
PyPDF2==1.25.1
python-social-auth==0.2.12
scipy==0.18.1
simplejson
sklearn==0.0
smart-open==1.4.0
tensorflow
textract==1.5.0
uuid==1.30
watson-developer-cloud==0.22.0
