django==1.10
psycopg2==2.6.2
django-widget-tweaks
python-social-auth==0.2.12
djangorestframework
markdown
django-filter
simplejson
watson-developer-cloud==0.22.0
uuid==1.30
pillow
textract
PyPDF2
gensim
nltk
scipy
sklearn
smart-open
elasticsearch
