/*
 * Dashboard level styles
 * (things that make sense anywhere else :)
 */

@media (min-width: 992px) {
  .nav-toggleable-md {
    display: block !important;
    height: auto !important;
  }
}
.statlist {
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #434857;
}
.statlist-link {
  position: relative;
  display: block;
  padding: 10px;
  color: #ffffff;
  border-top: 1px solid #434857;
}
.statlist-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  background-color: #30343e;
}
.statcard-number {
  margin-top: 0;
  margin-bottom: 0;
/*   font-size: 38px; */
}
.statcard-number .label {
  padding: .125em .5em;
  font-size: 50%;
  vertical-align: middle;
}
.statcard-desc {
  font-size: 100%;
  color: #a9aebd;
  text-transform: capitalize;
}
.delta-indicator {
  display: inline-block;
  padding: .4em;
  font-size: 14px;
  vertical-align: middle;
}
.delta-positive {
  color: #1bc98e;
}
.delta-positive:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  border-top: 0;
  border-bottom: 4px solid;
}
.delta-negative {
  color: #e64759;
}
.delta-negative:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.statcard-primary,
.statcard-success,
.statcard-info,
.statcard-warning,
.statcard-danger {
  color: #fff;
  border-radius: 3px;
}
.statcard-primary .delta-negative,
.statcard-success .delta-negative,
.statcard-info .delta-negative,
.statcard-warning .delta-negative,
.statcard-danger .delta-negative,
.statcard-primary .delta-positive,
.statcard-success .delta-positive,
.statcard-info .delta-positive,
.statcard-warning .delta-positive,
.statcard-danger .delta-positive,
.statcard-primary .statcard-number,
.statcard-success .statcard-number,
.statcard-info .statcard-number,
.statcard-warning .statcard-number,
.statcard-danger .statcard-number {
  font-weight: 300;
  color: inherit;
}
.statcard-primary .statcard-desc,
.statcard-success .statcard-desc,
.statcard-info .statcard-desc,
.statcard-warning .statcard-desc,
.statcard-danger .statcard-desc {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.65);
}
.statcard-primary .statcard-hr,
.statcard-success .statcard-hr,
.statcard-info .statcard-hr,
.statcard-warning .statcard-hr,
.statcard-danger .statcard-hr {
  margin-left: -20px;
  margin-right: -20px;
  border-top-color: rgba(255, 255, 255, 0.2);
}
.statcard-primary {
  background-color: #1ca8dd;
}
.statcard-success {
  background-color: #1bc98e;
}
.statcard-info {
  background-color: #9f86ff;
}
.statcard-warning {
  background-color: #e4d836;
}
.statcard-danger {
  background-color: #e64759;
}
canvas {
  display: block;
}
.ex-graph {
  display: block;
  margin: 0 auto 15px;
}
.ex-line-graph {
  width: 100%;
  height: 273px;
}
