{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- code for displaying success or error message in template -->


    <title>

        Forgot Password ·

    </title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link href="{% static 'css/toolkit.css' %}" rel="stylesheet">
    <link href="{% static 'css/assets_css_application.css' %}" rel="stylesheet">

  </head>

<body class="with-top-navbar">

<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://bright-mcweeney.rhcloud.com/index.html">
        <img src="{% static 'images/icon.png' %}" alt="brand">
      </a>
    </div>
  </div>
</nav>

<!--
<div class="container container-fill-height bg-form p-t-lg">
	<div class="row">
        <div class="col-md-4 col-md-offset-4">
		    <div class="m-x-auto text-center app-login-form p-a-md b-a">
		  		<h2 class="m-b-lg">Welcome back Matthew!</h2>
			    <form role="form">
					<div class="form-group">
				        <input class="form-control" placeholder="Username">
				    </div>

				    <div class="form-group m-b-md">
				        <input type="password" class="form-control" placeholder="Password">
				    </div>

				    <div class="m-b-lg">
				        <a href="../index.html" class="btn btn-primary">Log In</a>
				    </div>

				    <footer class="screen-login">
				        <a href="../forgot" class="text-muted">Forgot your password?</a>
				    </footer>
			    </form>
  			</div>
	    </div>
	</div>
</div>
-->

<div class="container container-fill-height bg-form p-t-lg">
	<div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
	  		<div class="text-center">
	          <h2 class="m-b-0">Ok, let's get you a new password.</h2>
	          <h4 class="m-b-lg text-muted">Enter your email address, and we'll send the reset instructions.</h4>
                {% if messages %}
                <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} {% endif %}{{ message }}</li>
        {% endfor %}
        {% endif %}
    </ul>
                {% for error in form.email_or_username.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
				<form role="form" method="post">
                    {% csrf_token %}
					<ul class="list-group media-list media-list-stream">
						<li class="media list-group-item p-a">
						  <div class="input-group input-group-lg">
                             {{ form.email_or_username|add_class:'form-control' }}
						    <div class="input-group-btn">
                                <input type="submit" class="btn btn-primary" name="CreateAccount" value=""/>
                                <span class="icon icon-forward"></span>
                            </div>
						  </div>
						</li>
					</ul>
					<footer class="screen-login">
						<a href="../account" class="text-muted">Want to create a new account?</a>
					</footer>
				</form>
	  		</div>
        </div>
	</div>
</div>

<!--
<div class="container-fluid container-fill-height bg-form">
	<div class="container-content-middle">
  		<div class="m-x-auto text-center app-forgot-form p-a-md">
          <h2 class="m-b-0">Let's get you a new password.</h2>
          <h4 class="m-b-lg text-muted">Enter your email address, and we'll send reset instructions.</h4>
			<form role="form">
				<ul class="list-group media-list media-list-stream">
					<li class="media list-group-item p-a">
					  <div class="input-group input-group-lg">
					    <input type="text" class="form-control" placeholder="Email address...">
					    <div class="input-group-btn">
					      <a href="../index.html" class="btn btn-primary">
					        <span class="icon icon-forward"></span>
					      </a>
					    </div>
					  </div>
					</li>
				</ul>
				<footer class="screen-login">
					<a href="../account" class="text-muted">Want to create a new account?</a>
				</footer>
			</form>
  		</div>
	</div>
</div>
-->

{% block content %}
                {% endblock %}

    <script src = "{% static 'js/assets_js_jquery.min.js' %}"></script>
    <script src = "{% static 'js/assets_js_chart.js' %}"></script>
    <script src = "{% static 'js/assets_js_toolkit.js' %}"></script>
    <script src = "{% static 'js/assets_js_application.js' %}"></script>
<script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
    </script>
 <script type="text/javascript">
                    window.onbeforeunload = function () {
                        var inputs = document.getElementsByTagName("INPUT");
                        for (var i = 0; i < inputs.length; i++) {
                            if (inputs[i].type == "button" || inputs[i].type == "submit") {
                                inputs[i].disabled = true;
                            }
                        }
                    };
    </script>


</body></html>