<div ng-include="'static/app/html/elements/header.html'"></div>

<div class="container container-fill-height bg-form p-t-lg">
	<div class="row">
	    <div class="col-md-4 col-md-offset-4">
			<div class="text-center p-a-md b-a">
				<h2 class="m-b">We're excited you're joining us.</h2>
				<h4 class="m-b-md text-primary">Let's find you talent like never before.</h4>
				<form name="signupForm" method="post" ng-submit="user_Signup()" id="loginForm" novalidate>
					<div class="form-group">
					<input class="form-control" name="firstName" ng-model="data.first_name" placeholder="First Name" ng-pattern="/^[a-zA-Z]*$/" required>
					<span style="color:red" ng-show="signupForm.firstName.$invalid && signupForm.firstName.$touched">
                     <span ng-show="signupForm.firstName.$error.required">First name is required.</span>
				     <span ng-show="signupForm.firstName.$error.pattern">Please enter only characters.</span>
                    </span>
					</div>

					<div class="form-group">
					<input class="form-control" name="lastName" ng-model="data.last_name" placeholder="Last Name" ng-pattern="/^[a-zA-Z]*$/" required>
					<span style="color:red" ng-show="signupForm.lastName.$invalid && signupForm.lastName.$touched">
                     <span ng-show="signupForm.lastName.$error.required">Please enter last name.</span>
				     <span ng-show="signupForm.lastName.$error.pattern">Please enter only characters.</span>
                    </span>
					</div>

					<div class="form-group">
					<input class="form-control" name="userEmail" ng-model="data.user_email" placeholder="Email" type="email" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required>
					<span style="color:red" ng-show="signupForm.userEmail.$invalid && signupForm.userEmail.$touched">
                     <span ng-show="signupForm.userEmail.$error.required">Please enter emailId.</span>
				     <span ng-show="signupForm.userEmail.$error.pattern">Please enter valid email address.</span>
                    </span>
					</div>

					<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" name="password" ng-model="data.password" required>
					<span style="color:red" ng-show="signupForm.password.$invalid && signupForm.password.$touched">
                     <span ng-show="signupForm.password.$error.required">Please enter password.</span>
                    </span>
					</div>

					<div class="form-group m-b-md">
					<input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" ng-model="data.confirmPassword" valid-password-c="data.password" required>
					<span style="color:red" ng-show="signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$touched">
                     <span ng-show="signupForm.confirmPassword.$error.required">Please confirm password.</span>
				     <span ng-show="signupForm.confirmPassword.$error.noMatch">Password not matched.</span>
                    </span>
					</div>

					<div class="p-x-md">
					<button href="" class="btn btn-lg btn-primary" ng-disabled="signupForm.$invalid">Create Account</button>
					</div>
					<!--
					<footer class="screen-login">
					<a href="#" class="text-muted">Share this with your team</a>
					</footer>
					-->
					</form>
	  		</div>
		</div>
	</div>
</div>



