
<h1></h1>
<fieldset id="form-p-0" class="body">
	<h2 class="m-b text-create">Define</h2>
	<div class="row b-b">
		<div class="col-sm-8 m-t">
			  <div class="form-group p-b">
					<label>Project Name</label>
					  <input type="text" class="form-control" id="project_name" name="project_name" ng-model="projectForm.project_name" placeholder="Keep it simple, like uidesigner..." ng-pattern="project.projectNamePattern" ng-blur="updateProjectName($event)"  auto-Capitalise-First-Letter ="" ng-keyup="removeValidationMsg($event)" ng-maxlength="30" required>
					  <span  class="error"  style='display:none;color:red'></span>
				      <span  style='color:red' ng-if="isProjectnmValid">Enter project name first!</span>
					  <span style="color:red" ng-show="createProjectForm.project_name.$error.pattern">Please enter only alphanumeric value!</span>
				      <span style='color:red' ng-if="isProjectnmExists">Same project name is existing in your account!</span>
                      <span style='color:red' ng-show="createProjectForm.project_name.$error.maxlength">Your input is too long!</span>
			</div>
		   <div class="form-group p-b">
				<label>Company or Division</label>
				<input id="company_name" name="company_name" ng-model="projectForm.company_name" type="text" class="form-control" placeholder="Go for a single word..."  ng-blur="saveData('company_name',projectForm.company_name)" ng-click="checkProjectName($event)" auto-Capitalise-First-Letter ="" ng-maxlength="30"  required>
			     <span  class="error"  style='display:none;color:red'></span>
			    <span style='color:red' ng-show="createProjectForm.company_name.$error.maxlength">Your input is too long!</span>
			</div>
			<div class="form-group p-b">
				<label>Location</label>
				<input type="text" id="location" name="location" ng-model="projectForm.location"  class="form-control" placeholder="Use a city name, or the zip code..."  ng-blur="saveData('location',projectForm.location)" ng-click="checkProjectName($event)" ng-keyup="validateLocation(projectForm.location)" ng-maxlength="30" required>
				<span  class="error" style='display:none;color:red'></span>
				<span style="color:red" ng-show="patternError">[[locationPatternMsg]]</span>
				<span style='color:red' ng-show="createProjectForm.location.$error.maxlength">Your input is too long!</span>
			</div>
		</div>
	</div>
</fieldset>
