  <h1 id="form-h-3" tabindex="-1" class="title"></h1>
			                <fieldset id="form-p-3" role="tabpanel" aria-labelledby="form-h-3" class="body" aria-hidden="true">
                        <h2 class="m-b text-create">Publish</h2>
                          <div class="row">
                          <div class="col-sm-12">
                            <!-- <h5 class="p-y">If these details look great, hit Publish to activate this project.</h5> -->
                            <div class="row b-t">
                              <div class="col-sm-8 m-t">
                                  <div class="p-b">
                                    <label>Project Name</label>
                                    <p class="form-control text-black"># uxdesigner</p>
                                  </div>
                                  <div class="p-b">
                                    <label>Company or Division</label>
                                    <p class="form-control text-black">@ Accenture</p>
                                  </div>
                               <div class="p-b">
                                <label>Location</label>
                                <p class="form-control text-black">Washington D.C.</p>
                              </div>
                          </div>
                          </div>
                          </div>
			                    </div>
			                    <!-- Describe -->
								        <div class="row">
			                        <div class="col-sm-12">
						                <label>Job Description</label>
											<p class="publish-textarea text-black">Our Full Stack Scala Web Developer will be responsible for full stack web development and should be comfortable with the latest development techniques and tools. An ideal candidate will be an expert Scala developer and familiar with leading tools such as Grunt, Bower, and Scala.js. Familiarity with d3.js-based visualizations and advanced UX design skills are required. Ideal candidates will also have experience with continuous deliver and release processes and infrastructure. Your experience will inform product development and usability to help non-profits raise more money and better engage with their communities of interest.</p>
									</div>
								</div>
								<!-- Review Concepts -->
								<div class="row p-y-md b-b">
			            <div class="col-sm-12">
										<label>Concepts</label>
											<div class="ibox-content p-a-0">
												<a class="btn btn-default btn-lg concept-tag">full stack</a><a class="btn btn-default btn-lg concept-tag">web development</a><a class="btn btn-default btn-lg concept-tag">grunt</a><a class="btn btn-default btn-lg concept-tag">scrum</a><a class="btn btn-default btn-lg concept-tag">mean</a><a class="btn btn-default btn-lg concept-tag">ux design</a><a class="btn btn-default btn-lg concept-tag">leadership</a>
			                        		</div>
								  </div>
			                </div></fieldset>