    <h1></h1>
     <fieldset id="form-p-1" class="body">
        <h2 class="m-b text-create">Describe</h2>
          <div class="row">
              <div class="col-sm-12">
                <p class="p-y p-r-lg">Paste in or start typing a job description. We'll use it to assemble unique concepts you can review, and add to in step 3.</p>
                <div class="form-group w-full">
                  <textarea class="form-control" id="description" rows="10" name="description" ng-model="projectForm.description" placeholder="Don't worry, you can always edit this later..."  required></textarea>
                   <span ng-if="isDescriptionRequired"  style='color:red'>Required.</span>
                </div>
              </div>
          </div>
      </fieldset>
