<div class="row border-bottom"  ng-controller="topnavCtrl as tn">
        	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		        <div class="navbar-header">
		             <div class="visible-xs">
                              <span minimaliza-sidebar></span>
						<!--<a class="navbar-minimalize minimalize-ui btn btn-default" minimaliza-sidebar href=""><span class="icon icon-unread"></span> </a>-->
						</div>

						<form role="search" name="searchForm"  method="post" ng-submit="tn.getSearchData()" class="navbar-form-custom" autocomplete="off">
							<div class="form-group">
								<input type="text" ng-attr-placeholder="[[searchPlaceholder]]" class="form-control search-icon" name="top-search" id="top-search" ng-model="searchKeywords" autocomplete="off">
							</div>
						</form>
		        </div>
	             <ul class="nav navbar-top-links navbar-right">
            <li >
                <a class="dropdown-toggle count-info app-notifications"  ui-sref="development">
                    <span class="icon icon-mail pull-left"></span>  <span class="badge badge-warning pull-right">21</span>
                </a>

            </li>
            <li >
                <a class="dropdown-toggle count-info app-notifications"  ui-sref="development">
                    <span class="icon icon-bell pull-left"></span> <span class="badge badge-warning pull-right">3</span>
                </a>

            </li>
            <li class="dropdown">
                <a class="dropdown-toggle app-profile" data-toggle="dropdown" >
                  <img alt="Profile Photo" class="img-circle-sm" src="static/img/profile_small.jpg" />
                </a>
                <ul class="dropdown-menu">
                    <li ><a ui-sref="development">Profile</a></li>
                    <li class="divider"></li>
                    <li ng-click="tn.logout()"><a >Logout</a></li>
                </ul>
            </li>
          </ul>

        	</nav>
        </div>