<div class="row border-bottom"  ng-controller="topnavCtrl as tn">
        	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		        <div class="navbar-header">
		             <div class="visible-xs">
						<a class="navbar-minimalize minimalize-ui btn btn-default" ng-click="main.openSideMenu()" href=""><span class="icon icon-unread"></span> </a>
						</div>
						<form role="search" class="navbar-form-custom" ui-sref="development">
							<div class="form-group">
								<input type="text" placeholder="Search Sona..." class="form-control" name="top-search" id="top-search">
							</div>
						</form>
		        </div>
	             <ul class="nav navbar-top-links navbar-right">
            <li >
                <a class="dropdown-toggle count-info app-notifications"  ui-sref="development">
                    <span class="icon icon-mail pull-left"></span>  <span class="badge badge-warning pull-right">21</span>
                </a>
                <!--<ul class="dropdown-menu dropdown-messages">-->
                    <!--<li>-->
                        <!--<div class="dropdown-messages-box">-->
                            <!--<a href="" class="pull-left">-->
                                <!--<img alt="image" class="img-circle" src="img/a7.jpg">-->
                            <!--</a>-->
                            <!--<div class="media-body">-->
                                <!--<small class="pull-right">46h ago</small>-->
                                <!--<strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>-->
                                <!--<small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="dropdown-messages-box">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="profile.html" class="pull-left">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img alt="image" class="img-circle" src="img/a4.jpg">&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="media-body ">&ndash;&gt;-->
                                <!--&lt;!&ndash;<small class="pull-right text-navy">5h ago</small>&ndash;&gt;-->
                                <!--&lt;!&ndash;<strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>&ndash;&gt;-->
                                <!--&lt;!&ndash;<small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="dropdown-messages-box">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="" class="pull-left">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img alt="image" class="img-circle" src="img/profile.jpg">&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="media-body">&ndash;&gt;-->
                                <!--&lt;!&ndash;<small class="pull-right">23h ago</small>&ndash;&gt;-->
                                <!--&lt;!&ndash;<strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <brx>&ndash;&gt;-->
                                <!--&lt;!&ndash;<small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="text-center link-block">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="">&ndash;&gt;-->
                                <!--&lt;!&ndash;<i class="fa fa-envelope"></i> <strong>Read All Messages</strong>&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</ul>-->
            </li>
            <li >
                <a class="dropdown-toggle count-info app-notifications"  ui-sref="development">
                    <span class="icon icon-bell pull-left"></span> <span class="badge badge-warning pull-right">3</span>
                </a>
                <!--<ul class="dropdown-menu dropdown-alerts">-->
                    <!--<li>-->
                        <!--<a href="">-->
                            <!--<div>-->
                                <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
                                <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="profile.html">-->
                            <!--<div>-->
                                <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
                                <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="">-->
                            <!--<div>-->
                                <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
                                <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<div class="text-center link-block">-->
                            <!--<a href="">-->
                                <!--<strong>See All Alerts</strong>-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle app-profile" data-toggle="dropdown" >
                  <img alt="Profile Photo" class="img-circle-sm" src="static/img/profile_small.jpg" />
                </a>
                <ul class="dropdown-menu">
                    <li ><a ui-sref="development">Profile</a></li>
                    <li class="divider"></li>
                    <li ng-click="tn.logout()"><a >Logout</a></li>
                </ul>
            </li>
          </ul>

        	</nav>
        </div>