<!-- /Project Cards -->

<div class="wrapper wrapper-content m-t-n-md">
      <div class="row m-b-md">
      	<div class="col-xs-12 col-lg-9">
      		<h2 class="m-l">My Projects</h2>
      	</div>
      	<div class="col-xs-12 col-lg-3 m-t">
      		<span><a ui-sref="create.step1" class="btn-lg btn-primary pull-right">Create New Project</a></span>
      	</div>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <div class="ibox">
                  <div class="ibox-title">
                      <span class="label label-primary pull-right">NEW</span>
                      <h5 class="dash"><a href="#" class="text-project">#designeraccenture</a></h5>
                  </div>
                  <div class="ibox-content">
                      <div class="talent-members m-n">
         	                <p><small class="text-muted m-b">Recent Talent</small></p>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a1.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a2.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a3.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a5.jpg"></a>
                          <a class="btn btn-outline btn-sm concept-tag text-muted">+4</a>
                      </div>
                      <div class="m-t-md">
      		            <p class="text-muted">
      	                    <a class="text-company">@AccentureFederal</a> in <span class="text-detail">Washington DC</span> started on <span class="text-detail">11/30/16</span>, and was last active on <span class="text-detail">11/28/16</span> at <span class="text-detail">3:16 PM</span>
      	                </p>
                      </div>

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<div class="row">
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">All</div>
      										<a class="font-bold" href="#">81</a>
      									</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Starred</div>
      										<a class="font-bold" href="#">4</a>
      								</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Active</div>
      										<a class="font-bold" href="#">9</a> <i class="fa fa-level-up text-navy"></i>
      								</div>
      							</div>
      					</div><!-- /col-md-12 -->
      				</div><!-- /row -->

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<p><small class="text-muted">Concepts</small></p>
      							<a class="btn btn-default btn-sm concept-tag">design</a><a class="btn btn-default btn-sm concept-tag">ux</a><a class="btn btn-default btn-sm concept-tag">strategy</a><a class="btn btn-default btn-sm concept-tag">html</a><a class="btn btn-default btn-sm concept-tag">css</a><a class="btn btn-default btn-sm concept-tag">usability</a><a class="btn btn-default btn-sm concept-tag">testing</a><a class="btn btn-outline btn-sm concept-tag text-muted">+4</a>
      						</div>
      				</div><!-- /row -->
                  </div><!-- /ibox-content -->
              </div><!-- /ibox -->
          </div><!-- /col-4 -->

          <div class="col-lg-4">
              <div class="ibox">
                  <div class="ibox-title">
                      <h5 class="dash"><a href="#" class="text-project">#uxleadavande</a></h5>
                  </div>
                  <div class="ibox-content">
                      <div class="talent-members m-n">
         	                <p><small class="text-muted m-b">Recent Talent</small></p>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a1.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a3.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a5.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a2.jpg"></a>
                          <a class="btn btn-outline btn-sm concept-tag text-muted">+3</a>
                      </div>
                      <div class="m-t-md">
      		            <p class="text-muted">
      	                    <a class="text-company">@Avanade</a> in <span class="text-detail">New York</span> started on <span class="text-detail">11/26/16</span>, and was last active on <span class="text-detail">11/28/16</span> at <span class="text-detail">9:52 AM</span>
      	                </p>
                      </div>

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<div class="row">
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">All</div>
      										<a class="font-bold" href="#">14</a>
      									</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Starred</div>
      										<a class="font-bold" href="#">8</a>
      								</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Active</div>
      										<a class="font-bold" href="#">6</a> <i class="fa fa-level-up text-navy"></i>
      								</div>
      							</div>
      					</div><!-- /col-md-12 -->
      				</div><!-- /row -->

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<p><small class="text-muted">Concepts</small></p>
      							<a class="btn btn-default btn-sm concept-tag">ux</a><a class="btn btn-default btn-sm concept-tag">discovery</a><a class="btn btn-default btn-sm concept-tag">sketch</a><a class="btn btn-default btn-sm concept-tag">research</a><a class="btn btn-default btn-sm concept-tag">usability</a><a class="btn btn-default btn-sm concept-tag">testing</a>
      						</div>
      				</div><!-- /row -->
                  </div><!-- /ibox-content -->
              </div><!-- /ibox -->
          </div><!-- /col-4 -->

          <div class="col-lg-4">
              <div class="ibox">
                  <div class="ibox-title">
                      <h5 class="dash"><a href="#" class="text-project">#strategistbooz</a></h5>
                  </div>
                  <div class="ibox-content">
                      <div class="talent-members m-n">
         	                <p><small class="text-muted m-b">Recent Talent</small></p>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a1.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a6.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a3.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a5.jpg"></a>
                          <a class="btn btn-outline btn-sm concept-tag text-muted">+2</a>
                      </div>
                      <div class="m-t-md">
      		            <p class="text-muted">
      	                    <a class="text-company">@Booz</a> in <span class="text-detail">McLean</span> started on <span class="text-detail">11/23/16</span>, and was last active on <span class="text-detail">11/24/16</span> at <span class="text-detail">4:19 PM</span>
      	                </p>
                      </div>

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<div class="row">
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">All</div>
      										<a class="font-bold" href="#">55</a>
      									</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Starred</div>
      										<a class="font-bold" href="#">2</a>
      								</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Active</div>
      										<a class="font-bold" href="#">4</a> <i class="fa fa-level-down text-danger"></i>
      								</div>
      							</div>
      					</div><!-- /col-md-12 -->
      				</div><!-- /row -->

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<p><small class="text-muted">Concepts</small></p>
      							<a class="btn btn-default btn-sm concept-tag">strategy</a><a class="btn btn-default btn-sm concept-tag">research</a><a class="btn btn-default btn-sm concept-tag">analytics</a><a class="btn btn-default btn-sm concept-tag">search</a><a class="btn btn-default btn-sm concept-tag">data</a><a class="btn btn-outline btn-sm concept-tag text-muted">+2</a>
      						</div>
      				</div><!-- /row -->
                  </div><!-- /ibox-content -->
              </div><!-- /ibox -->
          </div><!-- /col-4 -->
      </div><!-- /row -->

      <div class="row">
          <div class="col-lg-4">
              <div class="ibox">
                  <div class="ibox-title">
                      <h5 class="dash"><a href="#" class="text-project">#fullstackibm</a></h5>
                  </div>
                  <div class="ibox-content">
                      <div class="talent-members m-n">
         	                <p><small class="text-muted m-b">Recent Talent</small></p>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a1.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a3.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a5.jpg"></a>
                          <a class="btn btn-outline btn-sm concept-tag text-muted">+7</a>
                      </div>
                      <div class="m-t-md">
      		            <p class="text-muted">
      	                    <a class="text-company">@IBM</a> in <span class="text-detail">Arlington</span> started on <span class="text-detail">11/21/16</span>, and was last active on <span class="text-detail">11/27/16</span> at <span class="text-detail">7:59 PM</span>
      	                </p>
                      </div>

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<div class="row">
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">All</div>
      										<a class="font-bold" href="#">76</a> <i class="fa fa-level-up text-navy"></i>
      									</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Starred</div>
      										<a class="font-bold" href="#">8</a>
      								</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Active</div>
      										<a class="font-bold" href="#">16</a> </i>
      								</div>
      							</div>
      					</div><!-- /col-md-12 -->
      				</div><!-- /row -->

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<p><small class="text-muted">Concepts</small></p>
      							<a class="btn btn-default btn-sm concept-tag">mean</a><a class="btn btn-default btn-sm concept-tag">java</a><a class="btn btn-default btn-sm concept-tag">mysql</a><a class="btn btn-default btn-sm concept-tag">node</a><a class="btn btn-default btn-sm concept-tag">angular</a><a class="btn btn-default btn-sm concept-tag">ninja</a><a class="btn btn-outline btn-sm concept-tag text-muted">+3</a>
      						</div>
      				</div><!-- /row -->
                  </div><!-- /ibox-content -->
              </div><!-- /ibox -->
          </div><!-- /col-4 -->
          <div class="col-lg-4">
              <div class="ibox">
                  <div class="ibox-title">
                      <h5 class="dash"><a href="#" class="text-project">#designercapitalone</a></h5>
                  </div>
                  <div class="ibox-content">
                      <div class="talent-members m-n">
         	                <p><small class="text-muted m-b">Recent Talent</small></p>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a1.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a3.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a5.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a2.jpg"></a>
                          <a class="btn btn-outline btn-sm concept-tag text-muted">+3</a>
                      </div>
                      <div class="m-t-md">
      		            <p class="text-muted">
      	                    <a class="text-company">@CapitolOne</a> in <span class="text-detail">McLean</span> started on <span class="text-detail">11/06/16</span>, and was last active on <span class="text-detail">11/21/16</span> at <span class="text-detail">6:01 PM</span>
      	                </p>
                      </div>

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<div class="row">
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">All</div>
      										<a class="font-bold" href="#">101</a>
      									</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Starred</div>
      										<a class="font-bold" href="#">6</a>
      								</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Active</div>
      										<a class="font-bold" href="#">26</a> <i class="fa fa-level-up text-navy"></i>
      								</div>
      							</div>
      					</div><!-- /col-md-12 -->
      				</div><!-- /row -->

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<p><small class="text-muted">Concepts</small></p>
      							<a class="btn btn-default btn-sm concept-tag">design</a><a class="btn btn-default btn-sm concept-tag">direction</a><a class="btn btn-default btn-sm concept-tag">leader</a><a class="btn btn-default btn-sm concept-tag">manager</a><a class="btn btn-default btn-sm concept-tag">empathy</a><a class="btn btn-outline btn-sm concept-tag text-muted">+11</a>
      						</div>
      				</div><!-- /row -->
                  </div><!-- /ibox-content -->
              </div><!-- /ibox -->
          </div><!-- /col-4 -->

          <div class="col-lg-4">
              <div class="ibox">
                  <div class="ibox-title">
                      <h5 class="dash"><a href="#" class="text-project">#directornytimes</a></h5>
                  </div>
                  <div class="ibox-content">
                      <div class="talent-members m-n">
         	                <p><small class="text-muted m-b">Recent Talent</small></p>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a6.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a5.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a1.jpg"></a>
                          <a href="#"><img alt="member" class="img-circle" src="static/img/a2.jpg"></a>
                          <a class="btn btn-outline btn-sm concept-tag text-muted">+7</a>
                      </div>
                      <div class="m-t-md">
      		            <p class="text-muted">
      	                    <a class="text-company">@NYTimes</a> in <span class="text-detail">New York</span> started on <span class="text-detail">11/21/16</span>, and was last active on <span class="text-detail">11/30/16</span> at <span class="text-detail">11:04 AM</span>
      	                </p>
                      </div>

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<div class="row">
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">All</div>
      										<a class="font-bold" href="#">47</a>
      									</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Starred</div>
      										<a class="font-bold" href="#">12</a>
      								</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Active</div>
      										<a class="font-bold" href="#">22</a> <i class="fa fa-level-up text-navy"></i>
      								</div>
      							</div>
      					</div><!-- /col-md-12 -->
      				</div><!-- /row -->

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<p><small class="text-muted">Concepts</small></p>
      							<a class="btn btn-default btn-sm concept-tag">design</a><a class="btn btn-default btn-sm concept-tag">ux</a><a class="btn btn-default btn-sm concept-tag">strategy</a><a class="btn btn-default btn-sm concept-tag">html</a><a class="btn btn-default btn-sm concept-tag">css</a><a class="btn btn-default btn-sm concept-tag">usability</a><a class="btn btn-default btn-sm concept-tag">testing</a><a class="btn btn-outline btn-sm concept-tag text-muted">+5</a>
      						</div>
      				</div><!-- /row -->
                  </div><!-- /ibox-content -->
              </div><!-- /ibox -->
          </div><!-- /col-4 -->
      </div>

    </div><!-- /wrapper -->
  </div>

  <!-- Small Chat -->
  <div class="small-chat-box fadeInRight animated">

      <div class="heading" draggable="true">
          <small class="chat-date pull-right">
              02.19.2015
          </small>
          Team chat
      </div>
      <div class="content">

          <div class="left">
              <div class="author-name">
                  Monica Jackson <small class="chat-date">
                  10:02 am
              </small>
              </div>
              <div class="chat-message active">
                  Lorem Ipsum is simply dummy text input.
              </div>

          </div>
          <div class="right">
              <div class="author-name">
                  Mick Smith
                  <small class="chat-date">
                      11:24 am
                  </small>
              </div>
              <div class="chat-message">
                  Lorem Ipsum is simpl.
              </div>
          </div>
          <div class="left">
              <div class="author-name">
                  Alice Novak
                  <small class="chat-date">
                      08:45 pm
                  </small>
              </div>
              <div class="chat-message active">
                  Check this stock char.
              </div>
          </div>
          <div class="right">
              <div class="author-name">
                  Anna Lamson
                  <small class="chat-date">
                      11:24 am
                  </small>
              </div>
              <div class="chat-message">
                  The standard chunk of Lorem Ipsum
              </div>
          </div>
          <div class="left">
              <div class="author-name">
                  Mick Lane
                  <small class="chat-date">
                      08:45 pm
                  </small>
              </div>
              <div class="chat-message active">
                  I belive that. Lorem Ipsum is simply dummy text.
              </div>
          </div>
      </div>

      <div class="form-chat">
          <div class="input-group input-group-sm">
              <input type="text" class="form-control">
              <span class="input-group-btn">
              	<button class="btn btn-primary" type="button">Send</button>
  			</span>
  		</div>
      </div>

  </div>

  <div id="small-chat">
      <span class="badge badge-warning pull-right">5</span>
      <a class="open-small-chat">
          <i class="fa fa-comments"></i>
      </a>
  </div>

</div>