<!-- /Project Cards -->

<div class="wrapper wrapper-content m-t-n-md">
      <div class="row m-b-md">
      	<div class="col-xs-12 col-lg-9">
      		<h2 class="m-l">My Projects</h2>
      	</div>
      	<div class="col-xs-12 col-lg-3 m-t">
      		<span><a ui-sref="create.step1" class="btn-lg btn-primary pull-right">Create New Project</a></span>
      	</div>
      </div>
      <div class="row">
          <div class="col-lg-4" ng-repeat="projects in projectList">
              <div class="ibox">
                  <div class="ibox-title" ng-init="conceptList = [[projects.concepts]]">
                      <span class="label label-primary pull-right" ng-if="$first">NEW</span>
                      <h5 class="dash"><a ui-sref="development" class="text-project">#[[projects.project_name]]</a></h5>
                  </div>
                  <div class="ibox-content">
                      <div class="talent-members m-n">
         	                <p><small class="text-muted m-b">Recent Talent</small></p>
                          <a href=""><img alt="member" class="img-circle" src="static/img/a1.jpg"></a>
                          <a href=""><img alt="member" class="img-circle" src="static/img/a2.jpg"></a>
                          <a href=""><img alt="member" class="img-circle" src="static/img/a3.jpg"></a>
                          <a href=""><img alt="member" class="img-circle" src="static/img/a5.jpg"></a>
                          <a class="btn btn-outline btn-sm concept-tag text-muted">+4</a>
                      </div>
                      <div class="m-t-md">
      		            <p class="text-muted">
      	                    <a class="text-company">@[[projects.company_name]]</a> in <span class="text-detail">[[projects.location]]</span> started on <span class="text-detail">[[projects.create_date]]</span>, and was last active on <span class="text-detail">[[projects.create_date]]</span> at <span class="text-detail">3:16 PM</span>
      	                </p>
                      </div>

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<div class="row">
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">All</div>
      										<a class="font-bold" href="#">81</a>
      									</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Starred</div>
      										<a class="font-bold" href="#">4</a>
      								</div>
      								<div class="col-xs-4 col-sm-4">
      									<div class="m-b-xs text-muted">Active</div>
      										<a class="font-bold" href="#">9</a> <i class="fa fa-level-up text-navy"></i>
      								</div>
      							</div>
      					</div><!-- /col-md-12 -->
      				</div><!-- /row -->

      				<div class="row">
      					<div class="hr-card"></div>
      						<div class="col-md-12">
      							<p><small class="text-muted">Concepts</small></p>
      							<a class="btn btn-default btn-sm concept-tag elepsis-100" ng-repeat="conceptname in projects.concepts|limitTo:4">[[conceptname]]</a><a class="btn btn-outline btn-sm concept-tag text-muted">+4</a>
      						</div>
      				</div><!-- /row -->
                  </div><!-- /ibox-content -->
              </div><!-- /ibox -->
          </div><!-- /col-4 -->


      </div>

    </div><!-- /wrapper -->
  </div>

  <!-- Small Chat -->
  <div class="small-chat-box fadeInRight animated">

      <div class="heading" draggable="true">
          <small class="chat-date pull-right">
              02.19.2015
          </small>
          Team chat
      </div>
      <div class="content">

          <div class="left">
              <div class="author-name">
                  Monica Jackson <small class="chat-date">
                  10:02 am
              </small>
              </div>
              <div class="chat-message active">
                  Lorem Ipsum is simply dummy text input.
              </div>

          </div>
          <div class="right">
              <div class="author-name">
                  Mick Smith
                  <small class="chat-date">
                      11:24 am
                  </small>
              </div>
              <div class="chat-message">
                  Lorem Ipsum is simpl.
              </div>
          </div>
          <div class="left">
              <div class="author-name">
                  Alice Novak
                  <small class="chat-date">
                      08:45 pm
                  </small>
              </div>
              <div class="chat-message active">
                  Check this stock char.
              </div>
          </div>
          <div class="right">
              <div class="author-name">
                  Anna Lamson
                  <small class="chat-date">
                      11:24 am
                  </small>
              </div>
              <div class="chat-message">
                  The standard chunk of Lorem Ipsum
              </div>
          </div>
          <div class="left">
              <div class="author-name">
                  Mick Lane
                  <small class="chat-date">
                      08:45 pm
                  </small>
              </div>
              <div class="chat-message active">
                  I belive that. Lorem Ipsum is simply dummy text.
              </div>
          </div>
      </div>

      <div class="form-chat">
          <div class="input-group input-group-sm">
              <input type="text" class="form-control">
              <span class="input-group-btn">
              	<button class="btn btn-primary" type="button">Send</button>
  			</span>
  		</div>
      </div>

  </div>

  <div id="small-chat">
      <span class="badge badge-warning pull-right">5</span>
      <a class="open-small-chat" ui-sref="development">
          <i class="fa fa-comments"></i>
      </a>
  </div>

</div>