<div class="wrapper wrapper-content m-t-n-md">
      <div class="row m-bttm20">
        <div class="heading-section">
      		<h2>My Projects</h2>
      	</div>
      	<div class="buttons-section m-t align-right">
      		<span><a ui-sref="create.step1" class="btn-lg btn-primary new-project">Create Project</a></span>
      	</div>
      </div>
      <div class="row">
          <div  ng-repeat="projects in topSixProjectList" >
          <!--<div class="clearfix" ng-show="[[(($index) % 3) == 0]]"></div>-->
          <div class="col-lg-4">
              <div class="ibox">
                <div class="ibox-title align-center position-rel" ng-init="conceptList = [[projects.concepts]]">
                      <span class="label label-primary pull-right new-cards" ng-if="$first">New</span>
                      <h5 class="dash"><a ui-sref="development" class="text-project">#[[projects.project_name]]</a></h5>
                      <div class="cls"></div>
                      <div class="box-location"><a>@[[projects.company_name]]</a> in <span class="text-detail">[[projects.location | capitalize]]</span></div>
                  </div>
                  <div class="ibox-content">
                      <div class="started-panel">Started <span>[[projects.get_date | dateFormat]]</span></div>
                    <div class="started-panel">Last Active <span>[[projects.get_date | dateFormat]]</span></div>
                      <div class="cls"></div>
                      <div class="talent-members m-n recent-talents">
         	                <p><small class="text-muted m-b">Recent Talent</small></p>
                        <a href=""><img alt="member" class="img-circle" src="static/img/a1.jpg"></a>
                        <a href=""><img alt="member" class="img-circle" src="static/img/a2.jpg"></a>
                        <a href=""><img alt="member" class="img-circle" src="static/img/a3.jpg"></a>
                        <a href=""><img alt="member" class="img-circle" src="static/img/a5.jpg"></a>
                        <a class="btn btn-outline btn-sm concept-tag text-muted font16 disable test nohover" style="color: #999999;">+4</a>
                      </div>
                       <div class="cls"></div>
            				<div class="row">
                        <div class="col-md-12">
                          <div class="">
                            <div class="col-xs-4 col-sm-4 padding3">
                              <div class="m-b-xs text-muted all-starred">All Talent</div>
                              <div class="all-starred-box"><a class="font-bold" href=""><i class="fa fa-users text-grey m-rg10"></i>81</a></div>
                              </div>
                            <div class="col-xs-4 col-sm-4 padding3">
                              <div class="m-b-xs text-muted all-starred">Active</div>
                              <div class="all-starred-box"><a class="font-bold" href=""><i class="fa fa-thumbs-up font18 text-grey m-rg10"></i>4</a></div>
                            </div>
                            <div class="col-xs-4 col-sm-4 padding3">
                              <div class="m-b-xs text-muted all-starred">Starred</div>
                              <div class="all-starred-box"><a class="font-bold" href=""><i class="fa fa-star text-grey m-rg10"></i>4</a></div>
                            </div>
                          </div>
                        </div><!-- /col-md-12 -->
                      </div><!-- /row -->
                </div><!-- /ibox-content -->
                <div class="view-details"><a href="" class="btn-lg btn-primary view-project-bttn disable">View Project Details</a></div>
                <div class="cls"></div>
            </div><!-- /ibox -->
          </div><!-- /col-4 -->
   </div>
      </div>

    </div><!-- /wrapper -->
  </div>