 <div class="wrapper wrapper-content">
      <div class="row">
          <div class="col-lg-3">
              <div class="widget bg-light-blue no-padding">
                  <div class="p-m">
                      <h1 class="m-xs">14,297</h1>
                      <h6 class="m-l-sm m-t text-light">
                          Total Analyzed Talent
                      </h6>
                  </div>
                  <div class="flot-chart">
                      <div class="flot-chart-content" id="flot-chart1"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="widget bg-success no-padding">
                  <div class="p-m">
                      <h1 class="m-xs">1,203</h1>
                      <h6 class="m-l-sm m-t text-light">
                          Analyzed This Month
                      </h6>
                  </div>
                  <div class="flot-chart">
                      <div class="flot-chart-content" id="flot-chart2"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="widget bg-info no-padding">
                  <div class="p-m">
                      <h1 class="m-xs">203</h1>
                      <h6 class="m-l-0 m-t text-light">
                          Analyzed This Week
                      </h6>
                  </div>
                  <div class="flot-chart">
                      <div class="flot-chart-content" id="flot-chart3"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="widget bg-fills no-padding">
                  <div class="p-m">
                      <h1 class="m-xs">139</h1>
                      <h6 class="m-l-sm m-t text-light">
                          Total Fills This Quarter
                      </h6>
                  </div>
                  <div class="flot-chart">
                      <div class="flot-chart-content" id="flot-chart4"></div>
                  </div>
              </div>
          </div>
      </div>
      <hr>
    </div>