<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget bg-primary no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">14,297</h1>

                        <h4 class="m-l-sm m-t text-light">
                            Total Analyzed Talent
                        </h4>
<!--                         <small>Income form project Beta.</small> -->
                    </div>
<!--
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart2"></div>
                    </div>
-->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget yellow-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">1,203</h1>

                        <h4 class="m-l-sm m-t text-light">
                            Analyzed This Month
                        </h4>
<!--                         <small>Income form project Beta.</small> -->
                    </div>
<!--
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart2"></div>
                    </div>
-->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget yellow-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">203</h1>

                        <h4 class="m-l-sm m-t text-light">
                            Analyzed This Week
                        </h4>
<!--                         <small>Income form project Beta.</small> -->
                    </div>
<!--
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart2"></div>
                    </div>
-->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget yellow-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">3</h1>

                        <h4 class="m-l-sm m-t text-light">
                            Total Fills (Quarter)
                        </h4>
<!--                         <small>This Quarter</small> -->
                    </div>
<!--
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart2"></div>
                    </div>
-->
                </div>
            </div>
        </div>
        <hr>
</div>