 <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2 class="p-l p-t">All Projects</h2>
                    </div>
                    <div class="ibox-content">

                    <div class="table-responsive">
                    <table class="table table-hover dataTables">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Candidates</th>
                        <th>Owner</th>
                        <th>Shared</th>
                        <th>Created</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>#designeraccenture</td>
                        <td>Accenture</td>
                        <td>Chicago</td>
                        <td>21</td>
                        <td>@shannon.madden</td>
                        <td>12/5/16</td>
                        <td>12/1/16</td>
                    </tr>
                    <tr class="gradeX">
                        <td>#uxleadavande</td>
                        <td>Avande</td>
                        <td>San Francisco</td>
                        <td>21</td>
                        <td>@shannon.madden</td>
                        <td>12/5/16</td>
                        <td>12/1/16</td>
                    </tr>
                    <tr class="gradeX">
                        <td>#strategistbooz</td>
                        <td>Booz Allen Hamilton</td>
                        <td>Seattle</td>
                        <td>21</td>
                        <td>@shannon.madden</td>
                        <td>12/5/16</td>
                        <td>12/1/16</td>
                    </tr>
                    <tr class="gradeX">
                        <td>#fullstackibm</td>
                        <td>IBM</td>
                        <td>Montauk</td>
                        <td>21</td>
                        <td>@shannon.madden</td>
                        <td>12/5/16</td>
                        <td>12/1/16</td>
                    </tr>
                    <tr class="gradeX">
                        <td>#designercapitalone</td>
                        <td>McLean</td>
                        <td>Chicago</td>
                        <td>21</td>
                        <td>@shannon.madden</td>
                        <td>12/5/16</td>
                        <td>12/1/16</td>
                    </tr>
                    <tr class="gradeX">
                        <td>#directornytimes</td>
                        <td>NY Times</td>
                        <td>New York</td>
                        <td>21</td>
                        <td>@shannon.madden</td>
                        <td>12/5/16</td>
                        <td>12/1/16</td>
                    </tr>

                    </tbody>
                    <tfoot>

                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>