
    <div class="lbox middle-box text-center loginscreen animated fadeInDown" ng-controller="loginCtrl as login">
        <div>
            <div>
            	<span class="login-brand"><img src="static/img/brand-temp.png"></span>
            </div>
            <h2>Welcome!</h2>
            <h4 class="m-b-lg">Let's do this.</h4>
            <form class="m-t" name="loginForm"  method="post" ng-submit="login.userLogin()" ng-keyup="login.hideMessages($event)" id="loginForm" autocomplete="off" novalidate>
                <div class="form-group">
                    <input type="text" ng-pattern="emailPattern" class="form-control" placeholder="Email address" name="username" ng-model="data.user_name"  ng-model-options="{ updateOn: 'blur' }" required="">
                 <span class="error" style="color:red;display:none" ></span>
                  <span style="color:red" ng-show="loginForm.username.$error.pattern">Please enter valid email address.</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="data.user_password" autocomplete="off" required="" >
                    <span class="error" style="color:red;display:none" ></span>
                </div>
                 <span style="color:red" ng-show="showErr"> Your email or password entered is incorrect.</span>
                <div class="text-center m-t-md m-b">
	                <button type="submit" class="btn btn-lg btn-primary m-b" ng-disabled="isDisabled">Log in</button>
                </div>
                <p class="text-center"><a ui-sref="forgot"><small>Forgot your password?</small></a></p>
                <a class="btn btn-sm btn-white p-xs m-t-md" ui-sref="register">Create an account</a>

            </form>
        </div>
    </div>
