<div class="row"  ng-init="gotoTop()">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
			    <div class="ibox create-project m-t-md">
			        <div class="ibox-content">
				        <div class="ibox-title p-b">
				            <h1 class="p-b">Create a New Project</h1>
				            <p class="p-r-lg"> In just four steps you'll have an active project, providing incredible insights so you can spend more time doing what you love—interacting with people.</p>
				        </div>
						<form id="createProjectForm" name="createProjectForm" class="wizard-big wizard clearfix" ng-keyup="checkMessage()" >
			                <h1></h1>
					<div class="steps clearfix">
						<ul id="tablist">
						<li role="tab" id="form-t-0" class="first current" >
						<a  id="form-p-0" ng-click="project.activateTab($event)">
							<span class="current-info audible">current step: </span><span class="number">1.</span>
						</a></li>
						<li role="tab" id="form-t-1" class="disabled" >
						<a id="form-p-1" style="cursor: default;" ng-click="project.activateTab($event)">
						<span class="number">2.</span>
						</a></li>
						<li role="tab" id="form-t-2" class="disabled" >
							<a id="form-p-2" style="cursor: default;" ng-click="project.activateTab($event)">
							<span class="number">3.</span> </a>
						</li>
						<li role="tab" id="form-t-3" class="disabled last" >
							<a id="form-p-3" style="cursor: default;" ng-click="project.activateTab($event)">
								<span class="number">4.</span> </a></li>
						</ul></div>
						<div id="form-views" class="content clearfix" ui-view></div>
							<div class="actions clearfix">
							<ul id="projectBtns">
							<li class="disabled" ng-disabled="[[ $state.current.name == 'create.step1']]" id="previous">
							<a ng-class="{'disable': [[ $state.current.name == 'create.step1']]}" ng-click="goToBack()">Previous</a></li>
							<li  id="next" ng-disabled="[[ $state.current.name == 'create.step4']]"><a  ng-class="{'disable': [[ $state.current.name == 'create.step4']]}" ng-click="SwitchFuction()">Next</a></li>
							<li  id="publish" ng-disabled="[[ $state.current.name != 'create.step4']]" class="disabled"><a ng-class="{'disable': [[ $state.current.name != 'create.step4']]}"  ng-click="publishProject()" >Publish</a></li>
							<li><a href="#" role="menuitem">Cancel</a></li></ul></div>
			            </form>
					</div>
				</div>
			</div>

</div>
