
	<div class="lbox middle-box text-center animated fadeInDown" ng-controller="signupCtrl as signup">
        <div class="row">
	        <div>
            	<span class="login-brand"><img src="static/img/brand-temp.png"></span>
            </div>
			<div class="text-center p-sm">
				<h2 class="m-b">We're excited you're joining us.</h2>
				<h5 class="m-b-lg text-primary">Let's find you talent like never before.</h5>
				<form name="signupForm" id="signupForm" method="post" ng-submit="user_Signup()" ng-keyup="hideMessages($event)" autocomplete="off" novalidate>
					<div class="form-group">
					<input class="form-control" type="text" placeholder="First Name" name="firstName" ng-model="userRegistration.first_name" id="firstName" ng-pattern="/^[\sa-zA-Z]*$/" required="required">
						<span class="error" style="color:red;display:none" ></span>
						<span style="color:red" ng-show="signupForm.firstName.$error.pattern">Please enter only characters.</span>
					</div>
					
					<div class="form-group">
					<input class="form-control" type="text" placeholder="Last Name" name="lastName" ng-model="userRegistration.last_name" id="lastName" ng-pattern="/^[\sa-zA-Z]*$/" required>
                     <span class="error" style="color:red;display:none" ></span>
				     <span style="color:red" ng-show="signupForm.lastName.$error.pattern">Please enter only characters.</span>
					</div>
					
					<div class="form-group">
					<input class="form-control" type="text" placeholder="Email" name="userEmail" ng-model="userRegistration.user_email" id="userEmail" type="email" ng-pattern="emailPattern" required>
                     <span class="error" style="color:red;display:none"></span>
				     <span style="color:red" ng-show="signupForm.userEmail.$error.pattern">Please enter valid email address.</span>
					</div>
					
					<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" name="password" id="password" ng-model="userRegistration.password" data-ng-minlength="8"
						   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()"  ng-pattern="passwordStrength" required >
                     <span class="error" style="color:red;display:none" ></span>
					<span ng-show='signupForm.password.$error.pattern'>Password should be atleast 8 characters
                    long and should contain one number and one special
                    character</span>
					</div>
					
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" ng-model="userRegistration.confirmPassword" valid-password-c="userRegistration.password" required>
						<span class="error" style="color:red;display:none" ></span>
				        <span style="color:red;" ng-show="signupForm.confirmPassword.$error.noMatch">Password not matched.</span>
					</div>
					<span ng-model="errorMessage" style="color:red">[[errorMessage]]</span>
					<div ng-if="success"><a ui-sref="login">Click here for login</a></div>
					<div class="m-t-lg">
						<button class="btn btn-lg btn-primary" ng-disabled="isDisabled">Create Account</button>

					</div>
					<!--
					<footer class="screen-login">
					<a href="#" class="text-muted">Share this with your team</a>
					</footer>
					-->
					</form>
			</div>
		</div>
    </div>
    <!-- iCheck -->
    <!--<script>-->
        <!--$(document).ready(function(){-->
            <!--$('.i-checks').iCheck({-->
                <!--checkboxClass: 'icheckbox_square-green',-->
                <!--radioClass: 'iradio_square-green',-->
            <!--});-->
        <!--});-->
    <!--</script>-->
