
<!-- profile-info-starts -->
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-xs-12">
          <div class="talent-analysis-div">
            <div class="talent-analysis-image"><img src="static/img/a1.jpg" alt=""></div>
            <div class="talent-analysis-info-div">
              <div class="talent-analysis-name">[[talentDetails.talent_name]] <span>[[talentDetails.designation]] at [[talentDetails.talent_company[0].company]]</span></div>
              <div class="talent-analysis-qual">[[talentDetails.current_location]] <span></span> [[talentDetails.industry_focus]]</div>
              <button type="" class="btn view-con-info hvr-fade">View Contact Info</button>
              <div class="linkedin-analysis"><i class="fa fa-linkedin-square"></i></div>
            </div>
            <div class="talent-analysis-activity">
              <div class="talent-activity-panel">
                <div class="left-div">Last Activity</div>
                <div class="right-div">[[talentDetails.get_date | dateFormat]]</div>
              </div>
              <div class="talent-rec-panel">
                <div class="left-div">Recruiter</div>
                <div class="right-div">[[recruiter.recruiterName]] <span data-toggle="modal" data-target="#edit-recruiter">Edit</span></div>
              </div>
              <div class="talent-rec-panel border-bttm">
                <div class="left-div">Shared with</div>
                <div class="right-div">Jeffrey Lloyd <span data-toggle="modal" >Add</span></div>
              </div>
            </div>
            <div class="talent-analysis-right-panel">
              <div class="active-bttn">Active</div>
              <div class="talent-analysis-star-panel">
                <div class="schedule-stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
               <div ng-show="[[talentDetails.talent_project.length > 0]]">
                <div class="schdule-list">[[talentDetails.talent_project[0].stage]] </div>
                <div class="schdule-list-date">[[talentDetails.get_date | dateFormat]]</div>
                <div class="link-schedule"><a href="">#[[talentDetails.talent_project[0].project]]</a></div>
               </div>
               <div ng-show="[[talentDetails.talent_project.length == 0]]">
                 <div class="schdule-list-date">[[talentDetails.get_date | dateFormat]]</div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- profile-info-ends -->
<!-- tabs-panel-starts -->
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-xs-12">
          <div class="talents-tabs-panel">
            <div class="left-section">
              <div class="view-add-pro-panel">
                <button type="" class="btn add hvr-fade" data-toggle="modal" data-target="#add-project">Add to Project</button>
                <button type="" class="btn add hvr-fade" data-toggle="modal" data-target="#add-stage">Add Stage</button>
              </div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a data-target="#analysis" aria-controls="home" role="tab" data-toggle="tab">Analysis</a></li>
                <li role="presentation"><a data-target="#notes" aria-controls="profile" role="tab" data-toggle="tab">Notes</a></li>
                <li role="presentation"><a data-target="#files" aria-controls="messages" role="tab" data-toggle="tab">Files</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="analysis">
                  <div class="analysis-panel">
                    <div class="col-xs-12 padding-zero">
                      <div class="analyzed-div">Analyzed [[talentDetails.get_date | dateFormat]]</div>
                      <div class="edit-update-link">Edit/Update</div>
                    </div>
                   <div ng-repeat="company in talentDetails.talent_company">
                    <div ng-if ="company.is_current == true">
                    <div class="col-xs-12 padding-zero">
                      <div class="left-div search-result-current">Current</div>
                      <div class="right-div search-detail-current">[[company.designation]]/<span class="bold-font">Full Stack Developer</span> - [[company.designation]] at [[company.company]] 2013 - Present
                      </div>
                    </div>
                   </div>
                    <div ng-if ="company.is_current == false">
                    <div class="col-xs-12 padding-zero">
                      <div class="left-div search-result-past">Past</div>
                      <div class="right-div search-detail-past">
                       Software Architech/<span class="bold-font">Full Stack Developer</span> - [[company.designation]] at [[company.company]] 2013 <span class="more"><a href="" data-toggle="modal" data-target="#more-comp">More</a></span>
                      </div>
                    </div>
                  </div>
                  </div>
                    <div class="col-xs-12 padding-zero">
                      <div class="left-div search-result-edu">Education</div>
                      <div class="right-div search-detail-edu">[[talentDetails.talent_education[0].education]] 2010 - 2014 </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="talent-analysis-concept-panel">
                        <div class="top-concept-text">Top Concepts <span data-toggle="modal">All Concepts</span></div>
                        <div class="talent-progress" ng-repeat="concepts in talentDetails.talent_concepts">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: [[concepts.match]]%;">
                              <span class="text">[[concepts.concept]]</span>
                              <span class="percentage">[[concepts.match]]%</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="talent-analysis-concept-rightpanel">
                        <div class="top-concept-text">Career  History <span>All Metrics</span></div>
                        <div class="talent-progress">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                              <span class="text">Total Experience</span>
                              <span class="percentage">[[calcTotal(talentDetails.talent_company)]] Years</span>
                            </div>
                          </div>
                        </div>
                        <div class="talent-progress" ng-repeat="career in talentDetails.talent_company">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                              <span class="text">[[career.company]]</span>
                              <span class="percentage">[[career.years_of_experience | number:2]] Years</span>
                            </div>
                          </div>
                        </div>
                        <div class="cls"></div>
                        <div class="indus-focus">Industry Focus</div>
                        <div class="talent-progress">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: [[talentDetails.industry_focus_percentage]]%;">
                              <span class="text">[[talentDetails.industry_focus]]</span>
                              <span class="percentage">[[talentDetails.industry_focus_percentage]]%</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="recommended-panel">
                        <ul class="nav nav-tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a></li>
                          <li role="presentation"><a href="#recco" aria-controls="recco" role="tab" data-toggle="tab">Recommended</a></li>
                        </ul>
                        <div class="cls"></div>
                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="recent">
                            <div class="recent-table">
                              <table class="table table-condensed">
                                <thead>
                                  <tr>
                                    <th>Project Matches</th>
                                    <th>Project name</th>
                                    <th>Rank</th>
                                    <th>Date Added to Project</th>
                                    <th>Stage/Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row" class="padd-left32">
                                      <div data-color="#7a7a7a" data-percent="70" class="easy-pie-chart percentage easyPieChart pie-color" style="width: 60px; height: 60px; line-height: 60px; color: rgb(122, 122, 122);">
                                        <span class="percent pie-txt">56.2%</span>
                                        <canvas height="60" width="60"></canvas>
                                        <canvas width="60" height="60"></canvas>
                                      </div>
                                    </th>
                                    <td>
                                      <div class="table-circle-bg">
                                        <i class="fa fa-file-text"></i>
                                        <div class="link-panel"><a href="">#fullstackdev</a><span><a href="">@accenture</a></span></div>
                                      </div>
                                    </td>
                                    <td><div class="rank-circle">1</div></td>
                                    <td><div class="table-date-div">Dec 10, 2015</div></td>
                                    <td class="interviewing-text">Interviewing</td>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="padd-left32">
                                      <div data-color="#7a7a7a" data-percent="70" class="easy-pie-chart percentage easyPieChart pie-color" style="width: 60px; height: 60px; line-height: 60px; color: rgb(122, 122, 122);">
                                        <span class="percent pie-txt">56.2%</span>
                                        <canvas height="60" width="60"></canvas>
                                        <canvas width="60" height="60"></canvas>
                                      </div>
                                    </th>
                                    <td>
                                      <div class="table-circle-bg">
                                        <i class="fa fa-file-text"></i>
                                        <div class="link-panel"><a href="">#fullstackdev</a><span><a href="">@accenture</a></span></div>
                                      </div>
                                    </td>
                                    <td><div class="rank-circle">1</div></td>
                                    <td><div class="table-date-div">Dec 10, 2015</div></td>
                                    <td class="interviewing-text">Interviewing</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="recco">
                            <div class="recent-table">
                              <table class="table table-condensed">
                                <thead>
                                  <tr>
                                    <th>Project Matches</th>
                                    <th>Project name</th>
                                    <th>Rank</th>
                                    <th>Date Added to Project</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row" class="padd-left32">
                                      <div data-color="#7a7a7a" data-percent="70" class="easy-pie-chart percentage easyPieChart pie-color" style="width: 60px; height: 60px; line-height: 60px; color: rgb(122, 122, 122);">
                                        <span class="percent pie-txt">56.2%</span>
                                        <canvas height="60" width="60"></canvas>
                                        <canvas width="60" height="60"></canvas>
                                      </div>
                                    </th>
                                    <td>
                                      <div class="table-circle-bg">
                                        <i class="fa fa-file-text"></i>
                                        <div class="link-panel"><a href="">#fullstackdev</a><span><a href="">@accenture</a></span></div>
                                      </div>
                                    </td>
                                    <td><div class="rank-circle">1</div></td>
                                    <td><div class="table-date-div">Dec 10, 2015</div></td>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="padd-left32">
                                      <div data-color="#7a7a7a" data-percent="70" class="easy-pie-chart percentage easyPieChart pie-color" style="width: 60px; height: 60px; line-height: 60px; color: rgb(122, 122, 122);">
                                        <span class="percent pie-txt">56.2%</span>
                                        <canvas height="60" width="60"></canvas>
                                        <canvas width="60" height="60"></canvas>
                                      </div>
                                    </th>
                                    <td>
                                      <div class="table-circle-bg">
                                        <i class="fa fa-file-text"></i>
                                        <div class="link-panel"><a href="">#fullstackdev</a><span><a href="">@accenture</a></span></div>
                                      </div>
                                    </td>
                                    <td><div class="rank-circle">1</div></td>
                                    <td><div class="table-date-div">Dec 10, 2015</div></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="notes">
                  <div class="talent-notes-panel">
                    <div class="col-xs-12 padding-zero">
                      <div class="form-group">
                        <label for="">Note</label>
                        <textarea class="form-control" rows="5" placeholder="Write your note"></textarea>
                        <button type="" class="btn post">Post</button>
                      </div>
                    </div>
                  </div>
                  <div class="talent-notes-div">
                    <div class="talents-notes-image"><img src="img/a1.jpg" alt=""></div>
                    <div class="talents-notes-info-div">
                      <div class="talent-notes-site">
                        <span>Charlotte Edwards</span> posted message on <span>Monica smith</span> site.
                        <div class="talent-notes-hours">2h ago</div>
                      </div>
                      <div class="talent-notes-time">Today 2:10 pm - 12.06.2014</div>
                      <div class="talent-notes-descp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      <div class="cls"></div>
                      <div class="talent-notes-likes-section">
                        <div class="notes-like-div">
                          <i class="fa fa-thumbs-up"></i>
                          <div class="notes-like-text">Like <span>(11)</span></div>
                        </div>
                        <div class="notes-reply-panel">
                          <a href="">Reply</a>
                          <a href="">Edit</a>
                          <a href="">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="talent-notes-div">
                    <div class="talents-notes-image"><img src="img/a1.jpg" alt=""></div>
                    <div class="talents-notes-info-div">
                      <div class="talent-notes-site">
                        <span>Charlotte Edwards</span> posted message on <span>Monica smith</span> site.
                        <div class="talent-notes-hours">2h ago</div>
                      </div>
                      <div class="talent-notes-time">Today 2:10 pm - 12.06.2014</div>
                      <div class="talent-notes-inner-div">
                        <div class="talent-notes-inenr-img"><img src="img/a1.jpg" alt=""></div>
                        <div class="talent-inner-descp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                      </div>
                      <div class="cls"></div>
                      <div class="talent-notes-likes-section">
                        <div class="notes-like-div">
                          <i class="fa fa-thumbs-up"></i>
                          <div class="notes-like-text">Like <span>(11)</span></div>
                        </div>
                        <div class="notes-reply-panel">
                          <a href="">Reply</a>
                          <a href="">Edit</a>
                          <a href="">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="talent-notes-div">
                    <div class="talents-notes-image"><img src="img/a1.jpg" alt=""></div>
                    <div class="talents-notes-info-div">
                      <div class="talent-notes-site">
                        <span>Charlotte Edwards</span> posted message on <span>Monica smith</span> site.
                        <div class="talent-notes-hours">2h ago</div>
                      </div>
                      <div class="talent-notes-time">Today 2:10 pm - 12.06.2014</div>
                      <div class="cls"></div>
                      <div class="talent-notes-likes-section">
                        <div class="notes-like-div">
                          <i class="fa fa-thumbs-up"></i>
                          <div class="notes-like-text">Like <span>(11)</span></div>
                        </div>
                        <div class="notes-reply-panel">
                          <a href="">Reply</a>
                          <a href="">Edit</a>
                          <a href="">Delete</a>
                        </div>
                      </div>
                      <div class="talent-notes-inner-div">
                        <div class="talent-notes-inenr-img"><img src="img/a1.jpg" alt=""></div>
                        <div class="talent-inner-texarea"><textarea class="form-control" rows="1" placeholder="Add a reply"></textarea></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="files">
                  <div class="talent-files-panel">
                    <div class="talent-files-headings">
                      <div class="talent-files-names">File Name</div>
                      <div class="talent-files-names">Date Uploaded</div>
                      <div class="talent-files-names text-center">Action</div>
                    </div>
                    <div class="talent-files-info">
                      <div class="talent-files-info-descp pading-right20">Resume.pdf</div>
                      <div class="talent-files-info-descp pading-right20">Dec 10, 2015</div>
                      <div class="talent-files-info-descp text-center">
                        <i class="fa fa-download"></i>
                        <i class="fa fa-close"></i>
                      </div>
                    </div>
                    <div class="talent-files-info">
                      <div class="talent-files-info-descp pading-right20">Resume.pdf</div>
                      <div class="talent-files-info-descp pading-right20">Dec 10, 2015</div>
                      <div class="talent-files-info-descp text-center">
                        <i class="fa fa-download"></i>
                        <i class="fa fa-close"></i>
                      </div>
                    </div>
                    <div class="talent-files-info">
                      <div class="talent-files-info-descp pading-right20">Resume.pdf</div>
                      <div class="talent-files-info-descp pading-right20">Dec 10, 2015</div>
                      <div class="talent-files-info-descp text-center">
                        <i class="fa fa-download"></i>
                        <i class="fa fa-close"></i>
                      </div>
                    </div>
                    <div class="talent-files-info">
                      <div class="talent-files-info-descp pading-right20">Resume.pdf</div>
                      <div class="talent-files-info-descp pading-right20">Dec 10, 2015</div>
                      <div class="talent-files-info-descp text-center">
                        <i class="fa fa-download"></i>
                        <i class="fa fa-close"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="right-section">
              <div class="right-sideline">
                <div class="brief-circle"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                <div class="files-circle"><i class="fa fa-file-text" aria-hidden="true"></i></div>
              </div>
              <div class="right-info-comm-box">
                <em></em>
                <h1>Scheduled for Interview</h1>
                <div class="info-box-panels">Date: <span>Jan 30, 2017</span></div>
                <div class="info-box-panels">Details: <span>Lorem Ipsum is simply dummy text of…</span></div>
                <div class="info-box-panels">Notes: <span>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of november...</span></div>
                <div class="info-box-bottom-links">
                  <span data-toggle="modal" data-target="#edit-stage">Edit</span>
                  <span>Delete</span>
                </div>
              </div>
              <div class="right-info-comm-box">
                <em></em>
                <h1>Scheduled for Interview</h1>
                <div class="info-box-panels">Date: <span>Jan 30, 2017</span></div>
                <div class="info-box-panels">Details: <span>Lorem Ipsum is simply dummy text of…</span></div>
                <div class="info-box-panels">Notes: <span>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of november...</span></div>
                <div class="info-box-bottom-links">
                  <span data-toggle="modal" data-target="#edit-stage">Edit</span>
                  <span>Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- tabs-panel-ends -->


