  <!-- Widgets Talent Card-->
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-xs-12">
          <div class="talent-container">
            <div class="talent-search-bar">
              <button type="" class="btn add-talent" data-toggle="modal" data-target="#add-talent" ng-click="resetModal()">Add Talent</button>
              <button type="" class="btn disabled-talent">Send to Project</button>
            </div>
            <div class="talent-advance-search-div">
              <button type="" class="btn advance-search">Advanced Search</button>
              <div class="talent-search-icon"><i class="fa fa-filter"></i></div>
              <div class="view-as-panel">
                <span>View as</span>
                <div class="bar-view" ui-sref="talent.talent-search.talent-search-card" ng-class="{active:[[$state.current.name == 'talent.talent-search.talent-search-card']]}"><i class="fa fa-bars"></i></div>
                <div class="table-view" ui-sref="talent.talent-search.talent-search-list" ng-class="{active:[[$state.current.name == 'talent.talent-search.talent-search-list']]}"><i class="fa fa-table"></i></div>
              </div>
              <div class="show-entry-panel">
                <span>Show entries/page</span>
                <div class="form-group count">
                  <select class="form-control select-arrow">
                    <option>+1</option>
                    <option>+2</option>
                    <option>+3</option>
                    <option>+4</option>
                    <option>+5</option>
                  </select>
                </div>
                <div class="form-group export">
                  <select class="form-control select-arrow" ng-model="exportType" id="export" ng-options="option.name for option in exportOptions">
                  </select>
                </div>
                <div class="talent-search-delete-icon"><i class="fa fa-trash"></i></div>
              </div>
              <div class="showing-talent-search">
                <div class="checkbox">
                  <input type="checkbox" value="1" id="12" class="css-checkbox" name="">
                  <label class="css-label" for="12"></label>
                </div>
                <span>Showing 1 – 5 entries of 5 entries</span>
              </div>
              <div class="cls"></div>
              <div ui-view></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- add-recruiter-Modal-starts -->
<div class="modal fade" id="add-recruiter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog add-talent-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body roles-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <div class="edit-modal-recruiter">
          <span>Add Recruiter</span>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Add Email">
          </div>
          <div class="modal-check-section">
            <div class="checkbox">
              <input type="checkbox" value="1" id="1" class="css-checkboxs" name="">
              <label class="css-labels" for="1"></label>
            </div>
            <div class="modal-check-text">Profile + Analysis (View Only)</div>
          </div>
          <div class="modal-check-section">
            <div class="checkbox">
              <input type="checkbox" value="1" id="2" class="css-checkboxs" name="">
              <label class="css-labels" for="2"></label>
            </div>
            <div class="modal-check-text">Profile + Analysis + Notes (View Only)</div>
          </div>
          <div class="modal-check-section">
            <div class="checkbox">
              <input type="checkbox" value="1" id="3" class="css-checkboxs" name="">
              <label class="css-labels" for="3"></label>
            </div>
            <div class="modal-check-text">Full Access</div>
          </div>
          <div class="cls"></div>
          <button type="" class="btn add">Add</button>
          <div class="cls"></div>
          <div class="already-shared">Already Shared</div>
          <div class="shared-modal-div">
            <div class="shared-name">Duane Colane</div>
            <button type="" class="btn cancel-invite-bttn">Cancel Invite</button>
            <div class="form-group excess">
              <select class="form-control select-arrow">
                <option>Full Excess</option>
                <option>Full Excess</option>
                <option>Full Excess</option>
                <option>Full Excess</option>
              </select>
            </div>
          </div>
          <div class="shared-modal-div">
            <div class="shared-name">Duane Colane</div>
            <button type="" class="btn cancel-invite-bttn">Cancel Invite</button>
            <div class="form-group excess">
              <select class="form-control select-arrow">
                <option>Full Excess</option>
                <option>Full Excess</option>
                <option>Full Excess</option>
                <option>Full Excess</option>
              </select>
            </div>
          </div>
        </div>
        <div class="cls"></div>
      </div>
    </div>
  </div>
</div>
<!-- add-recruiter-Modal-ends -->
