<div class="col-xs-12 padding-zero">
                  <div class="col-sm-12 tabl-fl-height">
                      <div class="mCustomScrollbar tabl-scrol" data-mcs-theme="dark">
                         <table class="table talent-lst">
                             <thead>
                                 <th>Name
                                     <span class="sor-cont">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>
                                 <th>Current Role
                                    <span class="sor-cont">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>
                                  <th> Current Company
                                    <span class="sor-cont">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                  </th>

                                 <th>Stage
                                    <span class="sor-cont">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>

                                 <th>Projects
                                    <span class="sor-cont">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>

                                 <th>Company/<span class="dis-blc">Division Name
                                      <span class="sor-cont sor-cont-dubl">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                  </span>
                                 </th>
                                 <th>Last date
                                    <span class="dis-blc">contacted
                                      <span class="sor-cont sor-cont-dubl">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                    </span>
                                 </th>
                                 <th>Last date
                                     <span class="dis-blc"> analyzed
                                        <span class="sor-cont sor-cont-dubl">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                      </span>
                                 </th>
                                  <th>Contact Email
                                    <span class="sor-cont">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>
                                  <th>Contact phone
                                    <span class="sor-cont">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>
                                 <th>Linkidin url
                                    <span class="sor-cont">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>


                                 </th>
                                  <th>stars/rating
                                    <span class="sor-cont">
                                         <a class="arw-up" href="#r">
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" href="#d">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>

                                 </th>

                                 <th>
                                      <div class="checkbox-right-fx">
                                          <div class="checkbox">
                                            <input type="checkbox" value="1" id="l-all" class="css-checkbox" name="">
                                            <label class="css-label" for="l-all"></label>
                                          </div>
                                      </div>
                                 </th>
                             </thead>
                             <tbody>
                                 <tr ng-repeat="talent in talentList">
                                     <td><a href="#">[[talent.talent_name]]</a></td>
                                     <td>[[talent.talent_company[0].designation | capitalize]]</td>
                                     <td>[[talent.talent_company[0].company]]</td>
                                     <td ng-show="[[talent.talent_project.length > 0]]">[[talent.talent_project[0].stage]] </span></td>
                                     <td ng-show="[[talent.talent_project.length == 0]]"> NA </span></td>
                                     <td ng-show="[[talent.talent_project.length > 0]]">
                                        <span class="dis-blc"> <a href="">#[[talent.talent_project[0].project]]</a> </span>
                                        <span class="dis-blc"> <a href="">@[[talent.talent_project[0].company_name]] </a> </span>
                                      </td>
                                     <td ng-show="[[talent.talent_project.length == 0]]">
                                        <span class="dis-blc"> <a href=""> NA </a> </span>
                                      </td>
                                     <td>[[talent.talent_company[0].company]]</td>
                                     <td>Dec 10, 2015</td>
                                     <td>[[talent.talent_name | dateFormat]]</td>
                                     <td>[[talent.recruiter]]</td>
                                     <td>[[talent.talent_contact[0].contact]]</td>
                                     <td class="likd-icn">
                                          <i class="fa fa-linkedin-square"></i>
                                     </td>
                                     <td>
                                          <div class="rating-star">
                                            <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                             <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                          </div>
                                     </td>

                                     <td>
                                        <a href="#" class="list-act-butn">[[talent.status]]</a>
                                        <div class="checkbox-right-fx">
                                            <div class="checkbox">
                                              <input type="checkbox" value="1" id="l-1" class="css-checkbox" name="">
                                              <label class="css-label" for="l-1"></label>
                                            </div>
                                        </div>
                                     </td>
                                 </tr>

                                 <!--<tr>
                                     <td><a href="#">Eugene Reese</a></td>
                                     <td>Full Stack Developer</td>
                                     <td>Pledge Platform</td>
                                     <td>Scheduled <span class="dis-blc">for interview </span></td>
                                     <td>
                                        <span class="dis-blc"> <a href="#">#fullstackdev </a> </span>
                                        <span class="dis-blc"> <a href="#">@accenture </a> </span>
                                      </td>
                                     <td>Kiwitech Pvt. Ltd.</td>
                                     <td>Dec 10, 2015</td>
                                     <td>Dec 10, 2015</td>
                                     <td>lindsey.wiegand@yahoo.com</td>
                                     <td>862-814-9262</td>
                                     <td class="likd-icn">
                                          <i class="fa fa-linkedin-square"></i>
                                     </td>
                                     <td>
                                          <div class="rating-star">
                                            <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                             <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                          </div>
                                     </td>

                                     <td>
                                        <a href="#" class="list-act-butn">Active </a>
                                        <div class="checkbox-right-fx">
                                            <div class="checkbox">
                                              <input type="checkbox" value="1" id="l-1" class="css-checkbox" name="">
                                              <label class="css-label" for="l-1"></label>
                                            </div>
                                        </div>
                                     </td>
                                 </tr>

                                 <tr>
                                     <td><a href="#">Eugene Reese</a></td>
                                     <td>Full Stack Developer</td>
                                     <td>Pledge Platform</td>
                                     <td>Scheduled <span class="dis-blc">for interview </span></td>
                                     <td>
                                        <span class="dis-blc"> <a href="#">#fullstackdev </a> </span>
                                        <span class="dis-blc"> <a href="#">@accenture </a> </span>
                                      </td>
                                     <td>Kiwitech Pvt. Ltd.</td>
                                     <td>Dec 10, 2015</td>
                                     <td>Dec 10, 2015</td>
                                     <td>lindsey.wiegand@yahoo.com</td>
                                     <td>862-814-9262</td>
                                     <td class="likd-icn">
                                          <i class="fa fa-linkedin-square"></i>
                                     </td>
                                     <td>
                                          <div class="rating-star">
                                            <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                             <span class="active"><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                          </div>
                                     </td>

                                     <td>
                                        <a href="#" class="list-act-butn">Active </a>
                                        <div class="checkbox-right-fx">
                                            <div class="checkbox">
                                              <input type="checkbox" value="1" id="l-1" class="css-checkbox" name="">
                                              <label class="css-label" for="l-1"></label>
                                            </div>
                                        </div>
                                     </td>
                                 </tr>-->






                             </tbody>

                         </table>
                      </div>
                  </div>
    </div>