<div class="col-xs-12 padding-zero" style="text-align:center;" ng-show="(talentList.length == 0 && topSearch) || Filter">
  <div class="talent-srearch-view-panel" style="height:400px;padding:101px;">
    <h2>No Result for this search.</h2>
</div></div>

<div class="col-xs-12 padding-zero" ng-show="talentList.length > 0">
                  <div class="col-sm-12 tabl-fl-height padding-zero" ng-init="initPagination()">
                      <div class="mCustomScrollbar tabl-scrol" data-mcs-theme="dark" table-scroll>
                         <table class="table talent-lst">
                             <thead id="headRow">
                                 <th id="talent_name" tabindex="0" >Name
<!--                                 <th id="talent_name" tabindex="0"  ng-click="setAndGetSortedArr(talentList, 'talent_name')">Name-->
                                     <span class="sor-cont" ng-click="sortBy('talent_name')" ng-init="propertyName === 'talent_name'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>
                                 <th  id="role" tabindex="0" >Current Role
                                    <span class="sor-cont" ng-click="sortBy('role')"  ng-init="propertyName === 'role'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn">
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>
                                  <th id="talent_company" tabindex="0"> Current Company
                                    <span class="sor-cont" ng-click="sortBy('talent_company')" ng-init="propertyName === 'talent_company'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                  </th>

                                 <th id="talent_stage" tabindex="0">Stage
                                    <span class="sor-cont"  ng-click="sortBy('talent_stage')" ng-init="propertyName === 'talent_stage'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>

                                 <th id="talent_project" tabindex="0" >Projects
                                    <span class="sor-cont" ng-click="sortBy('talent_project')" ng-init="propertyName === 'talent_project'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>
                                 <th id="project_match" tabindex="0"  >Project Match
                                    <span class="sor-cont">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>

                                 <th id="talent_prevCompany" tabindex="0"  ng-click="sortBy('talent_prevCompany')">Company/<span class="dis-blc">Division Name
                                      <span class="sor-cont sor-cont-dubl" ng-init="propertyName === 'talent_prevCompany'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                  </span>
                                 </th>
                                 <th id="date_contacted" tabindex="0"  ng-click="sortBy('date_contacted')">Last date
                                    <span class="dis-blc">contacted
                                      <span class="sor-cont sor-cont-dubl" ng-init="propertyName === 'date_contacted'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                    </span>
                                 </th>
                                 <th id="date_analyzed" tabindex="0"  ng-click="sortBy('date_analyzed')">Last date
                                     <span class="dis-blc"> analyzed
                                        <span class="sor-cont sor-cont-dubl" ng-init="propertyName === 'date_analyzed'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                      </span>
                                 </th>
                                  <th id="talent_email" tabindex="0"  ng-click="sortBy('talent_email')">Contact Email
<!--                                  <th id="talent_email" tabindex="0"  ng-click="setAndGetSortedArr(talentList, 'talent_email')">Contact Email-->
                                    <span class="sor-cont" ng-init="propertyName === 'talent_email'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>
                                  <th id="talent_contact" tabindex="0"  ng-click="sortBy('talent_contact')">Contact phone
                                    <span class="sor-cont" ng-init="propertyName === 'talent_contact'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>
                                 </th>
                                 <th>Linkidin url
                                    <span class="sor-cont">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>


                                 </th>
<!--                                  <th id="talent_rating" ng-click="sortBy('rating')">Stars/rating-->
                                  <th id="talent_rating" ng-click="setAndGetSortedArr(talentList, 'rating')">Stars/rating
                                    <span class="sor-cont" ng-init="propertyName === 'rating'" ng-class="{reverse: reverse}">
                                         <a class="arw-up" >
                                            <i class="fa fa-long-arrow-down"></i>
                                         </a>
                                         <a class="arw-dwn" >
                                            <i class="fa fa-long-arrow-up"></i>
                                         </a>
                                     </span>

                                 </th>

                             </thead>
                             <tbody>
<!--                                 <tr ng-repeat="talent in talentList | orderBy:propertyName:reverse" on-finish-render="ngRepeatFinished">-->
                                 <tr ng-repeat="talent in talentList | orderBy:propertyName:reverse" on-finish-render="ngRepeatFinished">
                                     <td><a href="" class="tbl-link-td" ng-click="loadProfileData(talent.id,talent)">[[talent.talent_name | capitalizeWord]]</a></td>
                                     <td><span ng-show="talent.talent_company.length && talent.talent_company[0].designation">[[talent.talent_company[0].designation | capitalizeWord]]</span>
                                         <span ng-show="!talent.talent_company.length"> N/A </span>
                                     </td>
                                     <td><span ng-show="talent.talent_company.length && talent.talent_company[0].company">[[talent.talent_company[0].company | capitalizeWord]]</span>
                                         <span ng-show="!talent.talent_company.length"> N/A </span>
                                     </td>
                                     <td><span ng-show="talent.talent_stages.length && talent.talent_stages[0].stage">[[talent.talent_stages[0].stage]]</span>
                                         <span ng-show="!talent.talent_stages.length">  N/A </span></td>
                                     <!--<td ng-show="[[talent.talent_project.length > 0]] && !talent.talent_project[0].project_stage">-</span></td>-->
                                     <td >
                                        <span class="dis-blc" ng-show="talent.talent_project.length && talent.talent_project[talent.talent_project.length - 1].project"> <a href="">#[[talent.talent_project[talent.talent_project.length - 1].project]]</a> </span>
                                        <!--<span class="dis-blc" ng-show="talent.talent_project.length && talent.talent_project[0].company_name"> <a href="">@[[talent.talent_project[0].company_name]] </a> </span>-->
                                         <span class="dis-blc" ng-show="!talent.talent_project.length"> N/A  </span>
                                      </td>
                                      <td >
                                        <span class="dis-blc" ng-show="talent.talent_project.length && talent.talent_project[talent.talent_project.length - 1].project_match != null"><a href="">[[talent.talent_project[talent.talent_project.length - 1].project_match]]%</a></span>
                                        <!--<span class="dis-blc" ng-show="talent.talent_project.length && talent.talent_project[0].company_name"> <a href="">@[[talent.talent_project[0].company_name]] </a> </span>-->
                                         <span class="dis-blc" ng-show="!talent.talent_project.length || talent.talent_project[talent.talent_project.length - 1].project_match == null"> N/A  </span>
                                      </td>
                                     <td><span class="dis-blc" ng-show="talent.talent_project.length && talent.talent_project[talent.talent_project.length - 1].company_name"> <a href="">@[[talent.talent_project[talent.talent_project.length - 1].company_name | capitalizeWord]] </a> </span>
                                         <span ng-show="!talent.talent_project.length">  N/A  </span>
                                     </td>

                                     <td><span ng-show="talent.talent_stages.length">[[talent.talent_stages[0].create_date  | dateFormat]]</span>
                                         <span ng-show="!talent.talent_stages.length">[[talent.create_date | dateFormat]]</span>
                                     </td>
                                     <td><span ng-show="talent.talent_stages.length">[[talent.talent_stages[0].create_date | dateFormat]]</span>
                                         <span ng-show="!talent.talent_stages.length">[[talent.create_date | dateFormat]]</span></td>
                                     <td><span ng-show="talent.talent_email.length && talent.talent_email[0].email != ''">[[talent.talent_email[0].email]]</span>
                                         <span ng-show="!talent.talent_email.length || talent.talent_email[0].email == ''"> N/A </span></td>
                                     <td><span ng-show="talent.talent_contact.length && talent.talent_contact[0].contact != ''">[[talent.talent_contact[0].contact | contactFormat]]</span>
                                         <span ng-show="!talent.talent_contact.length || talent.talent_contact[0].contact == ''">  N/A </span>
                                     </td>
                                     <td class="likd-icn">
                                          <i class="fa fa-linkedin-square tbl-linkdedin-font"></i>
                                     </td>
                                     <td>
                                          <div class="col-md-12 padding-zero" ng-init="rating = [[talent.rating]]">
                                                <div star-rating rating-value="rating" max="5" ></div>
                                        </div>
                                     </td>

                                     <td>
                                        <a href="" class="list-act-butn">[[talent.status]]</a>
                                     </td>
                                 </tr>

                             </tbody>

                         </table>

                      </div>
<!--<pagination total-items="179" ng-model="currentPage" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" num-pages="1" items-per-page="10"></pagination>-->
    

                       <!--<div class="search-pagination">
                                <ul class="pagination">
                                  <li id="prev" class="prev">
                                    <a href="" aria-label="Previous">
                                      <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                                    </a>
                                  </li>
                                    <li ng-repeat="i in candidatePages" id="[[$index]]" ng-click="candidatePagination.page = ($index+1);getcandidateData();"><a href="">[[$index+1]]</a></li>
                                  <li id="next" class="next">
                                    <a href="" aria-label="Next">
                                      <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                                    </a>
                                  </li>
                                </ul>
                              </div>-->
                  </div>
                 <div class="chk-bx-rt">
                     <div class="checkbox-right-fx" ng-repeat="talent in talentList">
                        <div class="checkbox">
                          <input type="checkbox" id="check_[[talent.id]]" ng-click="updateSelection(talent.id,$index, talentList)" class="css-checkbox" name="">
                          <label class="css-label" for="check_[[talent.id]]"></label>
                        </div>
                     </div>
                    <!-- <div class="checkbox-right-fx">
                        <div class="checkbox">
                          <input type="checkbox" id="check_[[talent.id]]" ng-click="updateSelection(talent.id,$index, talentList)" class="css-checkbox" name="">
                          <label class="css-label" for="check_[[talent.id]]"></label>
                        </div>
                     </div>
                     <div class="checkbox-right-fx">
                        <div class="checkbox">
                          <input type="checkbox" id="check_[[talent.id]]" ng-click="updateSelection(talent.id,$index, talentList)" class="css-checkbox" name="">
                          <label class="css-label" for="check_[[talent.id]]"></label>
                        </div>
                     </div>
                     <div class="checkbox-right-fx">
                        <div class="checkbox">
                          <input type="checkbox" id="check_[[talent.id]]" ng-click="updateSelection(talent.id,$index, talentList)" class="css-checkbox" name="">
                          <label class="css-label" for="check_[[talent.id]]"></label>
                        </div>
                     </div>-->
                 </div>
    </div>

  <!-- add-project-Modal-starts -->
<div class="modal fade" id="add-project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog add-talent-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body roles-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <div class="edit-modal-recruiter">
          <span>Project</span>
          <div class="cls"></div>
          <div class="form-group export">
            <select class="form-control select-arrow" ng-model="projectDD" id="projectListD" ng-options="option.name for option in projectListView" drop-down>
            </select>
          </div>
          <div class="cls"></div>
          <button type="" class="btn add-stage" id="add-talent-btn" ng-click="addToProject(projectDD)">Add to Project</button>
        </div>
        <div class="cls"></div>
      </div>
    </div>
  </div>
</div>
<!-- add-project-Modal-ends -->
