  <!-- Widgets Talent Card-->
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-xs-12">
          <div class="talent-container">
            <div class="talent-search-bar">
              <button type="" class="btn add-talent" data-toggle="modal" data-target="#add-talent" ng-click="resetModal()">Add Talent</button>
              <button type="" class="btn disabled-talent">Send to Project</button>
            </div>
            <div class="talent-advance-search-div">
              <button type="" class="btn advance-search">Advanced Search</button>
              <div class="talent-search-icon"><i class="fa fa-filter"></i></div>
              <div class="view-as-panel">
                <span>View as</span>
                <div class="bar-view"><i class="fa fa-bars"></i></div>
                <div class="table-view"><i class="fa fa-table"></i></div>
              </div>
              <div class="show-entry-panel">
                <span>Show entries/page</span>
                <div class="form-group count">
                  <select class="form-control select-arrow">
                    <option>+1</option>
                    <option>+2</option>
                    <option>+3</option>
                    <option>+4</option>
                    <option>+5</option>
                  </select>
                </div>
                <div class="form-group export">
                  <select class="form-control select-arrow" ng-model="exportType" id="export" ng-options="option.name for option in exportOptions">
                  </select>
                </div>
              </div>
              <div class="showing-talent-search">
                <div class="checkbox">
                  <input type="checkbox" value="1" id="12" class="css-checkbox" name="">
                  <label class="css-label" for="12"></label>
                </div>
                <span>Showing 1 – 5 entries of 5 entries</span>
              </div>
              <div class="cls"></div>
              <div class="col-xs-12 padding-zero">
                <div class="talent-srearch-view-panel">
                  <div class="talentsearch-left-panel">
                    <div class="left-div"><div class="search-image"><img src="static/img/a1.jpg" alt=""></div></div>
                    <div class="search-result-panel right-div">
                     <div class="search-result-name">Thomas Hall <span>Senior Developer</span></div>
                     <div class="search-result-info">Newyork, USA <span></span> Computer Software</div>
                    </div>

                    <div class="cls"></div>

                    <div class="col-xs-12 padding-zero">
                      <div class="left-div search-result-current pdg-left20">Current</div>
                      <div class="right-div search-detail-current">Software Architech/<span class="bold-font">Full Stack Developer</span> - Virtual CTO for Companies at Likestyle 2013 - Present</div>
                    </div>
                    <div class="col-xs-12 padding-zero">
                      <div class="left-div search-result-past pdg-left20">Past</div>
                      <div class="right-div search-detail-past">
                       Software Architech/<span class="bold-font">Full Stack Developer</span> - Virtual CTO for Companies at Likestyle 2013 <span class="more"><a href="" data-toggle="modal" data-target="#more-comp">More</a></span>
                      </div>
                    </div>
                    <div class="col-xs-12 padding-zero">
                      <div class="left-div search-result-edu pdg-left20">Education</div>
                      <div class="right-div search-detail-edu">Pann State University 1988-1999</div>
                    </div>
                  </div>
                  <div class="talentsearch-right-panel">
                    <div class="active-bttn">Active</div>
                    <div class="search-star-panel">
                      <div class="schedule-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="schdule-list">Scheduled for Interview </div>
                      <div class="schdule-list-date">Dec 10, 2015</div>
                      <div class="link-schedule"><a href="">#fullstackdev</a> <span><a href="" data-toggle="modal" data-target="#recruiter-modal">More</a></span></div>
                    </div>
                  </div>
                  <div class="cls"></div>
                  <div class="col-xs-12">
                    <div class="top-concept-panel">
                      <div class="top-concept-text">Top Concepts</div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Full Stack</span>
                            <span class="percentage">60%</span>
                          </div>
                        </div>
                      </div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Full Stack</span>
                            <span class="percentage">60%</span>
                          </div>
                        </div>
                      </div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Full Stack</span>
                            <span class="percentage">60%</span>
                          </div>
                        </div>
                      </div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Full Stack</span>
                            <span class="percentage">60%</span>
                          </div>
                        </div>
                      </div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Full Stack</span>
                            <span class="percentage">60%</span>
                          </div>
                        </div>
                      </div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Full Stack</span>
                            <span class="percentage">60%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="top-concept-panel">
                      <div class="top-concept-text">Career  History</div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Total Experience</span>
                            <span class="percentage">10 Years</span>
                          </div>
                        </div>
                      </div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Full Stack</span>
                            <span class="percentage">3.5 Years</span>
                          </div>
                        </div>
                      </div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Full Stack</span>
                            <span class="percentage">1.5 Years</span>
                          </div>
                        </div>
                      </div>
                      <div class="cls"></div>
                      <div class="indus-focus">Industry Focus</div>
                      <div class="talent-progress">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="text">Full Stack</span>
                            <span class="percentage">1.5 Years</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="top-concept-panel">
                      <div class="top-concept-text">Project Matches</div>
                      <div class="circle-bg">
                        <div data-color="#7a7a7a" data-percent="70" class="easy-pie-chart percentage easyPieChart pie-color">
                          <span class="percent pie-txt">56.2%</span>
                          <canvas height="60" width="60"></canvas>
                        </div>
                        <i class="fa fa-file-text"></i>
                        <div class="link-panel"><a href="">#fullstackdev</a><span><a href="">@accenture</a></span></div>
                        <div class="bar-date">Dec 1, 2016</div>
                      </div>
                    </div>
                  </div>
                  <div class="cls"></div>
                  <div class="talentsearch-foot">
                   <button type="" class="btn">View Profile</button>
                   <button type="" class="btn">Add to Project</button>
                   <span class="linkedin"><i class="fa fa-linkedin-square"></i></span>
                  </div>
                </div>
                <div class="talent-srearch-check-panel">
                  <div class="checkbox">
                    <input type="checkbox" value="1" id="13" class="css-checkbox" name="">
                    <label class="css-label" for="13"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- more-comp-Modal-starts -->
<div class="modal fade" id="more-comp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog add-talent-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body roles-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <div class="past-roles">Past Roles</div>
        <div class="past-roles-descp">Full Stack Developer at Return Logic 2010-2011</div>
        <div class="past-roles-descp">Full Stack Developer at Kiwitech Pvt. Ltd. 2008-2010</div>
        <div class="cls"></div>
        <div class="edu-roles">Education</div>
        <div class="past-roles-descp">Full Stack Developer at Return Logic 2010-2011</div>
        <div class="past-roles-descp">Full Stack Developer at Kiwitech Pvt. Ltd. 2008-2010</div>
        <div class="cls"></div>
      </div>
    </div>
  </div>
</div>
<!-- more-comp-Modal-ends -->


<!-- recruiter-Modal-starts -->
<div class="modal fade" id="recruiter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog add-talent-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body roles-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <div class="past-roles">Information</div>
        <div class="info-modal-div">
          <div class="left-section">Date Added/Analysis</div>
          <div class="right-section">Dec 22, 2016</div>
        </div>
        <div class="info-modal-div">
          <div class="left-section">Last Activity</div>
          <div class="right-section">Dec 22, 2016</div>
        </div>
        <div class="info-modal-div">
          <div class="left-section-div">Recruiter</div>
          <div class="right-section-div">Clayton Medina <span data-toggle="modal" data-target="#edit-recruiter">Edit</span></div>
        </div>
        <div class="info-modal-div">
          <div class="left-section-div">Shared with</div>
          <div class="right-section-div">Jeffrey Lloyd, +2 <span data-toggle="modal" data-target="#add-recruiter">Add</span></div>
        </div>
        <div class="cls"></div>
      </div>
    </div>
  </div>
</div>
<!-- recruiter-Modal-ends -->

<!-- edit-recruiter-Modal-starts -->
<div class="modal fade" id="edit-recruiter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog add-talent-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body roles-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <div class="edit-modal-recruiter">
          <span>Edit Recruiter</span>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Clayton">
          </div>
          <div class="cls"></div>
          <button type="" class="btn update">Update</button>
        </div>
        <div class="cls"></div>
      </div>
    </div>
  </div>
</div>
<!-- edit-recruiter-Modal-ends -->

<!-- add-recruiter-Modal-starts -->
<div class="modal fade" id="add-recruiter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog add-talent-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body roles-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <div class="edit-modal-recruiter">
          <span>Add Recruiter</span>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Add Email">
          </div>
          <div class="modal-check-section">
            <div class="checkbox">
              <input type="checkbox" value="1" id="1" class="css-checkboxs" name="">
              <label class="css-labels" for="1"></label>
            </div>
            <div class="modal-check-text">Profile + Analysis (View Only)</div>
          </div>
          <div class="modal-check-section">
            <div class="checkbox">
              <input type="checkbox" value="1" id="2" class="css-checkboxs" name="">
              <label class="css-labels" for="2"></label>
            </div>
            <div class="modal-check-text">Profile + Analysis + Notes (View Only)</div>
          </div>
          <div class="modal-check-section">
            <div class="checkbox">
              <input type="checkbox" value="1" id="3" class="css-checkboxs" name="">
              <label class="css-labels" for="3"></label>
            </div>
            <div class="modal-check-text">Full Access</div>
          </div>
          <div class="cls"></div>
          <button type="" class="btn add">Add</button>
          <div class="cls"></div>
          <div class="already-shared">Already Shared</div>
          <div class="shared-modal-div">
            <div class="shared-name">Duane Colane</div>
            <button type="" class="btn cancel-invite-bttn">Cancel Invite</button>
            <div class="form-group excess">
              <select class="form-control select-arrow">
                <option>Full Excess</option>
                <option>Full Excess</option>
                <option>Full Excess</option>
                <option>Full Excess</option>
              </select>
            </div>
          </div>
          <div class="shared-modal-div">
            <div class="shared-name">Duane Colane</div>
            <button type="" class="btn cancel-invite-bttn">Cancel Invite</button>
            <div class="form-group excess">
              <select class="form-control select-arrow">
                <option>Full Excess</option>
                <option>Full Excess</option>
                <option>Full Excess</option>
                <option>Full Excess</option>
              </select>
            </div>
          </div>
        </div>
        <div class="cls"></div>
      </div>
    </div>
  </div>
</div>
<!-- add-recruiter-Modal-ends -->
